 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title><%= appName %></title>

     <base href="/" />
     <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="assets/icons/flaticon.css">
 
     <link rel="stylesheet" type="text/css" href="node_modules/slywork/slyframework.css">
     <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
 
     <script src="node_modules/core-js/client/shim.min.js"></script>
     <script src="node_modules/zone.js/dist/zone.js"></script>
     <script src="node_modules/reflect-metadata/Reflect.js"></script>
     <script src="node_modules/systemjs/dist/system.src.js"></script>
     
     <script src="assets/config/system.config.js"></script>
     
     
     <script>
         System.import('assets').catch(function(err){ console.error(err);  });        
     </script>
 </head>
 <body>     

     <main-app></main-app>

 </body>
 </html>